.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*****************navbar links*************/
:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(255,255,255,0);
}

nav a.nav-link{
    
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

ul li {
  text-transform: uppercase;
}
body{
  font-family: "Robota Condesed" sans-serif;
}
.navbar-nav>li>a{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}
/* .navbar{
  height: 100px;
} */
.navbar-brand{
  max-width: 17.25rem !important;
  
  padding: 0rem !important;
  height: 6 !important;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li> a.active:focus {
  border-bottom:0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-bottom:0.1875rem solid var(--primary-orange);
}